html {
    scroll-behavior: smooth;
    font-family: 'Nunito';
    color: #df9007;
}

.container {
    width: 40%;
    margin: 0 auto;
    background-color: #fff4e1;
    position: relative;
}

.main-text {
    text-align: center;
    font-size: 20px;
}

.main-text .top-name {
    font-size: 3em;
    font-family: 'sail';
    margin: 0.2em;
}

.main-text .top-agenda {
    font-weight: bold;
}

.bismillah {
    text-align: center;
}

.bismillah h6 {
    font-weight: bold;
}

.bismillah p {
    padding: 10px 30px;
    line-height: 20px;
}

.bismillah img {
    width: 200px;
    margin: 15px 0;
}

.photo-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

/* .brides-photo h6 {
    font-family: 'sail';
} */

.brides-photo img {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #e4e4e4;
    border: 4px solid #ffd080;
}

.splitter img {
    opacity: 0.3;
}

/* EVENT SECTION */
#event { 
    width: 80%;
    margin: 0 auto;
}

#event h2, #location h2, #receptionLocation h2, #healthProtocol h2, #sendGift h2 {
    font-size: 2.7em;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    font-family: 'Sail';
    line-height: 50px;
    margin-top: 20px;
    
}

#event p {
    text-align: center;
    line-height: 1.5rem;
}

.time-event {
    display: flex;
    justify-content: space-around;
}

#event .time-section {
    display: inline-block;
    margin: 30px 0 0 15px;
}

#event .time-section:first-child {
    margin-left: 0;
}

#event .time-section > .value {
    background-color: #df9007;
    height: 80px;
    width: 80px;
    border-radius: 10px;
    font-size: 30px;
    color: #fff;
    line-height: 80px;
    text-align: center;
}

.time-section .timelabel {
    text-align: center;
    padding-top: 5px;
}

/* END EVENT SECTION */

/* LOCATION SECTION */
.wrapper-location {
    margin: 0 auto;
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 25px rgb(177, 177, 177);
    position: relative;
}

.wrapper-location h6 {
    font-weight: bold;
    text-align: center;
    padding: 2rem 0;
    background-color: #fff4e1;
}

.agenda {
    padding: 10px;
    display: flex;
}

.agenda span{
    margin: 0 50px;
}

.agenda p, .prokes p {
    line-height: 1.5;
}

.text-bold {
    font-weight: bold;
    font-size: 1.2em;
}

.maps-location {
   margin: 20px;
   text-align: center;
}

.maps-location iframe {
    width: 100%;
    height: 400px;
    margin-bottom: 1.2em;
}

.maps-location a {
   padding: 20px;
   display: inline-block;
   background-color: #fff4e1;
   text-decoration: none;
   color: #df9007;
   border-radius: 10px;
   transition-duration: .5s;
   margin-bottom: 50px;
}

.maps-location a:hover {
    background-color: #ffd489;
 }
/* END LOCATION SECTION */

/* HEALTH PROTOCOL SECTION */
.health-protocol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.prokes {
    margin: 20px;
}

/* END  HEALTH PROTOCOL SECTION */

/* SEND GIFT SECTION */
.send-gift {
    margin: 20px;
    text-align: center;
}

.send-gift p {
    padding: 2em;
    line-height: 1.3em;
}

.icon-bni ul, .icon-sulselbar ul, .icon-ovo ul {
    line-height: 1.7em;
    padding: 1.5em;
    font-size: 1.2em;
}

.icon-bni span, .icon-sulselbar span, .icon-ovo span {
    font-weight: bold;
}

.send-gift .brides-name {
    padding: 0;
    font-size: 3em;
    font-family: 'sail';
}
/* END SEND GIFT SECTION */

.gotopbtn {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #fff4e1;
    transition-duration: .5s;
    bottom: 100px;
    right: 20px;
    line-height: 40px;
    text-align: center;
    font-size: 21px;
    text-decoration: none;
    color: #df9007;
}

.gotopbtn:hover {
    background-color: #ffd489;
}

.footer {
    height: 13vh;
    width: 100%;
    background-color: rgb(247, 247, 247);
    position: fixed;
    bottom: 0;
    box-shadow: 0 0 15px;
}

.footer-menu {
    height: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tab-icon { 
    color: #df9007;
    transition-duration: .5s; 
    margin-bottom: 8px;
}

.tab-icon:hover {
    color: #754a00;
    animation: shake 1s forwards;
}

@keyframes shake {
    10%{
        transform: rotate(15deg);
    }
    20%{
        transform: rotate(-15deg);
    }
    30%{
        transform: rotate(15deg);
    }
    50%{
        transform: rotate(0deg);
    }
}

.box { 
    text-align: center; 
    font-weight: bold;   
    color: #df9007;
}


/* POP UP */
/* .popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #ffd080;
    z-index: 1;
}

.popup-content {
    margin: 50vh auto;
    text-align: center;
}

.popup--close {
    display: none;
} */

/* MEDIA QUERY */
@media (min-width: 280px) and (max-width: 760px) {
    .container {
        width: 100%;
        margin: 0 auto;
        background-color: #fff4e1;
        position: relative;
    }

    .top-name, .top-agenda {
        padding: 20px;
    }
    
    .bismillah {
        text-align: center;
    }
    
    .bismillah h6 {
        font-weight: bold;
    }
    
    .bismillah p {
        padding: 10px 30px;
        line-height: 20px;
    }
    
    .bismillah img {
        width: 200px;
        margin: 15px 0;
    }

    .photo-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
    }
    
    .brides-photo img {
        margin-top: 50px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #e4e4e4;
        border: 4px solid #ffd080;
    }

    .brides-photo h6 {
        font-family: 'sail';
        font-size: 1.8em;
        padding: 0 20px;
    }
    
    #event h2 {
        font-size: 2.3em;
        font-weight: bold;
        text-align: center;
        padding: 20px;
        font-family: 'Sail';
        line-height: 50px;
        
    }

    .time-event {
       display: flex;
       justify-content: space-around;
    }

    #event .time-section > .value {
        background-color: #df9007;
        height: 50px;
        width: 50px;
        border-radius: 10px;
        font-size: 25px;
        color: #fff;
        line-height: 50px;
        text-align: center;
    }

    .wrapper-location h6 {
        padding: 1.2em;
        line-height: 1.5em;
    }
    
    .gotopbtn {
        position: fixed;
        width: 40px;
        height: 40px;
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.3);
        bottom: 150px;
        right: 20px;
        line-height: 40px;
        text-align: center;
        font-size: 21px;
        text-decoration: none;
        color: #fff;
    }
    
    .gotopbtn:hover {
        background-color: #ffd489;
    }

   

    .maps-location iframe {
        width: 100%;
    }
    
    .footer {
        height: 13vh;
        width: 100%;
        background-color: rgb(247, 247, 247);
        position: fixed;
        bottom: 0;
        box-shadow: 0 0 15px;
    }
    
    .footer-menu {
        height: inherit;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .tab-icon { 
        color: #df9007; 
        margin-bottom: 8px;
    }
    
    .box { 
        text-align: center; 
        font-weight: bold;
        color: #df9007;
    }
}